* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

main {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-top: 90px;
  height: 100%;
  width: 100%;
  background: #634f5e;
}

.hidden {
  display: none;
}

/* Nav Bar */
nav {
  height: 100px;
  width: 100vw;
  position: fixed;
  z-index: 3;
  background: linear-gradient(0.25turn, rgb(38 42 60) 0%, rgb(136 93 102) 100%);
  top: 0;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.692);
}

h1 {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em ;
}

.nav-btns {
  display: flex;
  align-items: center;
}

.nav-btn {
  font-size: large;
}

.nav-conatiner {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.nav-conatiner:hover {
  color: black;
  cursor: pointer;
}

/* Login Page */


/* Booking Page */
.booking-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin: 20px;
  left: 0;
  height: 85vh;
  width: 25vw;
}

.calendar {
  display: flex;
  flex-direction: row-reverse;
  width: 95%;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.322);
}

.calendar > input {
  color: black
}
.calendar > input:hover {
  cursor: pointer;
}

.available-rooms-disp,
.booking-bar {
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
  background-color: #272a3c;
}

.available-rooms-disp {
  display: flex;
  position: fixed;
  right: 0;
  margin: 60px 40px 40px 40px;
  height: 70vh;
  width: 60vw;
}
.rooms > img {
  max-height: 40%;
  max-width: 40%;
}