* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

main {
  margin-top: 90px;
  height: 100%;
  width: 100%;
  background: #634f5e;
}

/* Nav Bar --------------------------------- */
nav {
  height: 100px;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background: linear-gradient(0.25turn, rgb(38 42 60) 0%, rgb(136 93 102) 100%);
  top: 0;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.692);
}

.main-header {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em ;
}

.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  font-size: large;
}

.nav-conatiner {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

button {
  background: none;
  border: 1px solid transparent;
}

.nav-btns:hover {
  border-color:black;
  border-radius: 2px;
  color: black;
  cursor: pointer;
}

/* Login Page ----------------------------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0.25turn, rgb(38 42 60) 0%, rgb(136 93 102) 100%);
  padding: 30px;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  color: #ffffff;
  font-size: 2em;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.692);
}

input, select, textarea{
  color: #000;
}

.log-in-container {
  display: flex;
  flex-direction: column;
}

.log-in-container > label > b,
.log-in-container > input {
  font-size: 1.15em;
}

.modal-close {
  background: transparent;
  border: 0;
}
 
.modal-header .modal-close:before { content: "\2715"; }

.modal-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
} 

/* Basic Modal Styles -------------------------------- */
.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/* Demo Animation Style --------------------------------- */
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/* User Dashboard ------------------------- */
.user-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.user-details {
  min-height: 70px;
  width: 100vw;
  border-bottom: 3px solid #272a3c;
  text-align: center;
}

.user-details > h2,
.user-details > p {
  margin: 8px 0 5px 0;
}

.user-bookings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  margin-bottom: 100px;
}

.single-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 40vh;
  width: 30vw;
  margin: 8px;
  border-radius: 3px;
  background-color: #272a3c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.692)
}

.single-booking > img {
  width: 100%;
}

.single-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20%;
  width: 100%;
}

.single-details > h2,
.single-details > p {
  margin: 0;
}

.booked-date {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  background-color: rgba(255 255 255 / 15%);
  text-align: center; 
}

/* Booking Side Bar ---------------------------- */
.booking-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin: 20px;
  left: 0;
  height: 80vh;
  width: 25vw;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  height: inherit;
  width: inherit;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.115);
}

.calendar > input {
  color: black
}

.calendar:hover {
  cursor: pointer;
}

.calendar > select,
.calendar > input {
  margin: 5px;
}

.available-rooms-disp,
.booking-bar {
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
  background-color: #272a3c;
}

/* Booking Avaliable Rooms ----------------------------- */
.available-rooms-disp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding: 0;
  right: 0;
  margin: 40px 30px 40px 40px;
  height: 75vh;
  width: 65vw;
}

.available-rooms-disp > h2 {
  margin: 5px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.room-disp {
  overflow-y: scroll;
  margin-top: 40px;
  width: 100%;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 10% 1% 10%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.115);
  width: 80%;
}

.book-btn {
  background-color: #634f5e;
  margin-bottom: 5px;
}

.no-rooms-msg {
text-align: center;
}

.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.534);
}